[Desktop Entry]
Version=2.0.0
Encoding=UTF-8
Name=PyHearts
Comment=Black Lady Cards Game
Icon=/usr/share/pixmaps/pyhearts/pyhearts.png
Exec=/usr/bin/pyhearts
Type=Application
Categories=GNOME;Application;Games;X-Parsix;
Terminal=false
X-Desktop-File-Install-Version=0.10
GenericName[en_US]=
